*__pycache__*
*.o
*.pyc
*.pyo
*~x
*.mod
*.a
PROC*
vendor/**/*.mod
vendor/**/*.o
vendor/**/*.a
cmd*
*~
**/__pycache__
HEPTools/
MG5_debug
ME5_debug
MS_debug
Template/LO/Source/make_opts
additional_command
input/mg5_configuration.txt
input/default_run_card_lo.dat
input/default_run_card_nlo.dat
models/*/*.pkl
py.py
vendor/CutTools/includects/
mg5decay/mysmallmodel
tests/input_files/*/*.pkl
vendor/StdHEP/log.*
tmp
check_sa_born_splitOrders.f
models/*/
models/*.tgz
nsqso_born.inc