*~
__pycache__
*.o
*.pyc
*.pyo
*.mod
*.a
PROC*
cmd*
ptest*
*.pkl
p_ME_*
*.log
input/default_run_card_lo.dat
input/default_run_card_nlo.dat
input/mg5_configuration.txt
TEST_MW_*
.pre-commit-config.yaml
.vscode/
HEPTools/*
MG5/*
*.tar.gz
*.tgz
MG5_aMC_v*
*_debug
Template/LO/Source/make_opts
Template/Running/
additional_command
vector.inc
vendor/CutTools/includects/
vendor/StdHEP/log.mcfio.*
vendor/StdHEP/log.stdhep.*
diagrams_*.pdf
error
models/DMsimp_s_spin0__COMPLEX/
models/InertDoublet_UFO/
models/heft_v4/
models/loop_MSSM/
models/loop_sm/restrict_parallel_test_c_massive.dat
models/mssm_v4/
*#*#
models/sm/param_card.dat
models/sm__taudecay_UFO/
models/sm_v4/
models/topphilic_NLO_EW_CM_UFO__REAL/
PLUGIN/CUDACPP_SA_OUTPUT
PLUGIN/python3/
PLUGIN/maddm/
