*~
__pycache__
*.o
*.pyc
*.pyo
*.mod
*.a
PROC*
cmd*
ptest*
*.pkl
p_ME_*
*.log
.DS_Store
tests/status
input/default_run_card_lo.dat
input/default_run_card_nlo.dat
input/mg5_configuration.txt
TEST_MW_*
.pre-commit-config.yaml
.vscode/
HEPTools/*
MG5/*
*.tar.gz
*.tgz
MG5_aMC_v*
*_debug
Template/LO/Source/make_opts
Template/Running/
additional_command
vector.inc
vendor/CutTools/includects/
vendor/StdHEP/log.mcfio.*
vendor/StdHEP/log.stdhep.*
diagrams_*.pdf
error
models/DMsimp_s_spin0__COMPLEX/
models/InertDoublet_UFO/
models/heft_v4/
models/loop_MSSM/
models/loop_sm/restrict_parallel_test_c_massive.dat
models/mssm_v4/
*#*#
models/sm/param_card.dat
models/sm__taudecay_UFO/
models/sm_v4/
models/topphilic_NLO_EW_CM_UFO__REAL/
PLUGIN/python3/
PLUGIN/maddm/
*__pycache__*
vendor/**/*.mod
vendor/**/*.o
vendor/**/*.a
cmd*
*~
**/__pycache__
HEPTools/
MG5_debug
ME5_debug
MS_debug
Template/LO/Source/make_opts
additional_command
input/mg5_configuration.txt
input/default_run_card_lo.dat
input/default_run_card_nlo.dat
models/*/*.pkl
py.py
vendor/CutTools/includects/
mg5decay/mysmallmodel
tests/input_files/*/*.pkl
vendor/StdHEP/log.*
tmp
check_sa_born_splitOrders.f
models/*.tgz
tests/status
nsqso_born.inc
