<HTML> 
<HEAD> 
<TITLE>  </TITLE> 
<META HTTP-EQUIV="EXPIRES" CONTENT="20" ></HEAD> 
<BODY> 
<P> <H2 ALIGN=CENTER> SubProcesses and Feynman diagrams </H2><TABLE BORDER=2 ALIGN=CENTER> 
<TR><TH>Directory</TH> <TH NOWRAP># Diagrams </TH><TH NOWRAP># Subprocesses </TH> 
<TH COLSPAN=2>FEYNMAN DIAGRAMS</TH> <TH COLSPAN=4> SUBPROCESS </TH></TR> 
</TR><TR> <TD> P1ag_ttx </TD> 
<TD>    2 </TD> 
<TD> 1 </TD> 
<TD> <A HREF="../SubProcesses/P1ag_ttx/diagrams.html" > html </A> </TD> 
<TD> <A HREF="../SubProcesses/P1ag_ttx/matrix.ps" > postscript </A> </TD> 
<TD NOWRAP>  a g -> t t~                                
 </TD> 
 </TR></TABLE><BR> 
<TABLE ALIGN=CENTER><TR> <TD ALIGN=CENTER> <A HREF="../proc_log.txt">proc_log.txt</A> <TD> Log file from MadGraph code generation. <TR> <TD ALIGN=CENTER> <A HREF="../Cards/proc_card.dat">proc_card.dat</A> <TD> Input file used for code generation.<TR> <TD ALIGN=CENTER> <A HREF="../Source/MODEL/particles.dat">particles.dat</A> <TD> Particles file used for code generation.<TR> <TD ALIGN=CENTER> <A HREF="../Source/MODEL/interactions.dat">interactions.dat</A> <TD> Interactions file used for code generation.</TABLE><P><H3 align=center><A HREF="../index.html"> Main Page </A></BODY> 
</HTML> 
